[*.cs]

# CA1854: Prefer the 'IDictionary.TryGetValue(TKey, out TValue)' method
dotnet_diagnostic.CA1854.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent

# Default severity for analyzer diagnostics with category 'Interoperability'
dotnet_analyzer_diagnostic.category-Interoperability.severity = silent

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# CS8620: Argument cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8620.severity = silent

# CA1860: Avoid using 'Enumerable.Any()' extension method
dotnet_diagnostic.CA1860.severity = none

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none

# CS0419: Ambiguous reference in cref attribute
dotnet_diagnostic.CS0419.severity = silent
